{% extends 'base.html' %}


{%block title%} AnimeVisualised - Unauthorized {%endblock%}

{% block content %}

<div class="center-container">
	{% if provider %}
	<h1>We could not authorize you with {{provider}} <kbd>:(</kbd> </h1>
	{% else %}
	<h1>We could not authenticate you! <kbd>:(</kbd> </h1>
	{% endif %}

	<p>You can start over from the home page, or try logging in.</p>

	<a href="/" role="button">Go back to the home page</a>
	<br>
	<br>

	{% if provider %}
	<a href="{{url_for('login', provider=provider)}}" role="button">Try logging in</a>
	{% endif %}
</div>

{% endblock %}