<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="AnimeViz is a website that draws visualizations over your animelists, from websites like MyAnimeList.">
	<meta name="robots" content="index,nofollow">
	<title> {% block title %} {% endblock %} </title>
	<link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.ico')}}" type="image/x-icon">

	<!-- stylesheets -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

	{% endblock %}
</head>

<body>
	<!-- navbar -->
	{%block header%}
	<nav id="navbar" class="navbar" data-theme="dark" style="padding: 10px !important;">
		<ul>
			<li><strong><a href="/" class="no-color-link">animeviz</a></strong></li>
			<li><a href="https://github.com/shravanasati/animeviz" class="no-color-link">GitHub</a></li>
		</ul>
		<ul>
			{% if current_user and current_user.is_authenticated%}
			<li><a href="/logout" role="button" class="btn">Logout</a></li>
			{%else%}
			<li><a href="/login/myanimelist" role="button" class="btn">Login with MAL</a></li>
		</ul>
		{% endif %}
	</nav>
	{%endblock%}

	<!-- main content -->
	<main class="container-fluid base-container">
		{%block content%}{%endblock%}
	</main>


	<!-- footer -->
	<footer id="footer" data-theme="dark">
		{% block footer %}
		&copy; Copyright 2024 by <a href="https://github.com/shravanasati">Shravan Asati</a>
		{% endblock %}
	</footer>
</body>

</html>