{%extends "base.html" %}

{%block title%} animeviz {%endblock%}

{%block head%}
{{super()}}
<style>
	body {
		background-image: url("{{url_for('static', filename='assets/background.webp')}}");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
</style>
{%endblock%}

{%block content%}

<div class="index-container center-container" data-theme="light">
	{% if current_user and current_user.is_authenticated %}
		<h1>Welcome <u>{{current_user.name}}</u></h1>
		<br><br>
		<a href="/visualize" role="button" class="btn">Visualize your data</a>
	{% else %}
		<h1 class=".heading">Visualise your MyAnimeList data effortlessly!</h1>
		<p style="color: rgb(132, 17, 82);"><mark>Your anime lists finally have a purpose.</mark></p>
		<h3 class=".heading" style="margin: 0.5em 1em; color: rgb(0, 0, 0)">Get Started by</h3>
		<a href="/login/myanimelist" role="button" class="btn">Logging in</a>
		<p style="margin-bottom: auto; color: black;">OR</p>
		<a href="/visualize" role="button" class="btn">Upload the exported animelist.xml</a>
	{% endif %}

</div>
{%endblock%}