{%extends "base.html" %}


{%block title%} AnimeVisualised - Visualize your anime data{%endblock%}

{% block head %}
{{super()}}
<script src="{{url_for('static', filename='scripts/form.js')}}"></script>
{% endblock %}

{%block content%}

<div class="form-container center-container">
	<form id="visualization-form">
		<fieldset>
			<label for="nsfw">
				<input type="checkbox" name="nsfw" id="nsfw" checked>
				Disable NSFW tags
			</label>

			<br>

			{% if current_user and current_user.is_authenticated %}


			<label for="submit">
				<input type="submit" value="Visualize" id="submit">
			</label>

			{% else %}
			<label for="file">Upload animelist.xml
				<input type="file" name="file" id="file" accept=".xml">
			</label>
			<label for="submit">
				<button aria-busy="false" id="submit" disabled>Visualize</button>
				<!-- <input type="submit" value="Visualize" id="submit" disabled aria-busy="false"> -->
			</label>
			{% endif %}
			<p id="time-reminder" style="display: none;">This might take several seconds.</p>
		</fieldset>
	</form>
</div>

{%endblock%}