* {
	padding: 1px;
	margin: 1px;
}

:root {
	--primary: #d81b60;
}

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
	--primary: #d81b60;
	--primary-hover: #c2185b;
	--primary-focus: rgba(216, 27, 96, 0.125);
	--primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--primary: #d81b60;
		--primary-hover: #e91e63;
		--primary-focus: rgba(216, 27, 96, 0.25);
		--primary-inverse: #FFF;
	}
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
	--primary: #d81b60;
	--primary-hover: #e91e63;
	--primary-focus: rgba(216, 27, 96, 0.25);
	--primary-inverse: #FFF;
}

/* Pink (Common styles) */
:root {
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);
}

.no-color-link {
	color: white;
}

#main-content {
	/* display: flex; */
	align-items: center;
	justify-content: center;
	margin-left: 50px;
}

.base-container {
	min-height: 100%;
	margin-bottom: -100px;
}

.base-container::after {
	content: "";
	display: block;
	height: 100px;
}

footer {
	margin-top: auto;
	height: 100px;
	padding: auto;
}

.btn {
	margin-left: 4px;
	margin-right: 4px;
}

.center-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.index-container {
	border: 5px solid white;
	border-radius: 12px;
	backdrop-filter: blur(3px);
}

.form-container {
	text-align: left;
	border: 3px solid white;
	padding-top: 8px;
	margin: 2px;
	border-radius: 5px;
}